@import "mixin";
@import "variables";

@import '../fonts/iconfont.css';

body, html {
  width: 100%;
  height: 100%;
  //background: #222;
}

#root {
  width: 100%;
  height: 100%;
}
svg {
  vertical-align: middle;
}


.app_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .body_wrapper {
    flex: 1;
    overflow: hidden;
  }
}
