@mixin slider-animation(
  $direction: 'left',
  $translateStart: translateX(100%),
  $scaleEnd: translateX(0),
  $origin: center top
) {
  .slider-in-#{$direction}-enter {
    opacity: 0;
    transform: $translateStart;
  }
  .slider-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin
  }
  .slider-in-#{$direction}-exit {
    opacity: 1;
  }
  .slider-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $translateStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}

@include slider-animation('left', translateX(100%),translateX(0));
@include slider-animation('right', translateX(0),translateX(100%));

