.NavBar {
  display: flex;
  //background: #2f2f2f;

  &_item {
    position: relative;
    height: 46px;
    line-height: 46px;
    color: #ec4e3d;
    font-size: 13px;
    text-align: center;
  }

  &_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    padding: 0 10px;
    z-index: 10;

    .icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-top: 1px solid #989898;
      border-left: 1px solid #989898;
      transform: rotate(-45deg);
    }
  }

  &_center {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
  }

  &_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    padding: 0 10px;
    z-index: 10;
  }
}
