@import "../../../assets/style/mixin";
.hotList-wrapper {
  margin: 0 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  .item {
    position: relative;
    width: 50%;
    padding: 8px 8px 8px 24px;
    box-sizing: border-box;

    .label {
      padding-left: 10px;
      color: #232323;
      font-size: 14px;
      @include textEllipsis;
      .SUCCESS,.DANGER{
        font-size: 12px;
        font-weight: bold;
      }
      .SUCCESS{
        color: #55a93e;
      }
      .DANGER{
        color: #eb4c44;
        font-style: normal;
      }
    }

    .value {
      padding: 8px 10px;
      font-size: 11px;
      color: #9e9e9e;
      @include textEllipsis;
    }

    .currentRanking {
      position: absolute;
      top: 23px;
      left: 10px;
      color: #666;
      text-align: center;
      font-size: 17px;
      &.active {
        color: #eb4c44;
      }
    }
  }
}
