.search-wrapper-input {
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 32px;
  background: #f7f7f7;
  color: #5d5c5c;

  i {
    width: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
  }

  .oInput {
    flex: 1;
    color: #454545;
    padding: 8px 10px;
    line-height: 20px;
    background: transparent;
    outline: none;
    border: none;
    vertical-align: middle;
    font-size: 14px;
  }
  .icon {
    position: absolute;
    top: 8px;
    right: 5px;
    color: rgba(255, 255, 255, 0.2);
  }
}
