.quickEntry-wrapper {
  .enterItem {
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    color: white;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      background: #2d2d2d;
      i {
        color: #ec4c44;
        font-size: 30px;
      }
    }

    .label {
      padding-top: 10px;
      font-size: 13px;
      color: #d0cfd0;
    }
  }
}

.LogoContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f13b30;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #f54060;
    display: block;
    border-radius: 50%;
    animation-name: ripple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
  }

  &:after {
    animation-delay: 0s;
  }

  &:before {
    animation-delay: 1s;
  }

  @keyframes ripple {
    0% {
      width: 40px;
      height: 40px;
      border: 1px solid #f54060;
    }
    100% {
      border: 1px solid #f54060;
      width: 120px;
      height: 120px;
      opacity: 0.1;
    }
  }
}
