@import "../../assets/style/mixin";
.search-page {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-flow: column;
  overflow: hidden;

  .search-wrapper {
    height: 52px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    &-cancel {
      width: 56px;
      text-align: center;
      color: #070707;
    }
    &-singer {
      @include extendClick
    }
  }
  .search-scroll{
    flex: 1;
  }

  .advertising-wrapper {
    color: white;
    height: 70px;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }

  .hot-title {
    padding: 10px 20px;
    font-size: 20px;
    color: #000;
  }
}
